@{
    ViewData["Title"] = "Home";
}
@model string

<div class="row">
    <div class="col-md-12">
        <h2>Video Indexer</h2>
        <div id="videoInfo">
            <iframe src="@Model" width="300"></iframe> 
        </div>
    </div>
</div>
